<style>
  .banner {
    height: calc(100vh - 500px);
    background: url("/assets/images/photo-1537813075314-eab032200609.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
  }

</style>
<div class="banner bg-overlay">

  <div class="container">
    <div class="center-text-vertical center-text-horizontal">

      <p class="white-text">
        Hello World!
      </p>
    </div>

    <!-- <img src="/assets/images/photo-1537813075314-eab032200609.jpeg" alt="cover"> -->
  </div>
</div>