<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="shortcut icon" href="/assets/images/favicon.png" />

  <meta name="google-site-verification" content="AJPERTARAUlZQkS3Ns4tG2hw2UykUc9O0RzZ-M4s9Zk" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href='https://mmwebfonts.comquas.com/fonts/?font=pyidaungsu' />
  <!-- 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
-->

  <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/animate.css' | relative_url }}">
  <!-- <link rel="stylesheet" href="{{ '/assets/css/morris.css' | relative_url }}"> -->
  <!-- <link rel="stylesheet" href="{{ '/assets/css/font-awesome.min.css' | relative_url }}"> -->
  <!-- <link rel="stylesheet" href="{{ '/assets/css/icon-font.css' | relative_url }}"> -->
  <link rel="stylesheet" href="{{ '/assets/css/owl.carousel.min.css' | relative_url }}">
  <!-- <link rel="stylesheet" href="{{ '/assets/css/owl.theme.default.min.css' | relative_url }}"> -->
  <!-- <link rel="stylesheet" href="{{ '/assets/css/colorbox.css' | relative_url }}"> -->
  <!-- <link rel="stylesheet" href="{{ '/assets/css/lightbox.css' | relative_url }}"> -->
  <link rel="stylesheet" href="{{ '/assets/css/responsive.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

  <!--
                Javascript Files
                ==================================================
  -->
  <script type="text/javascript" src="/assets/js/jquery.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
  <!-- <script type="text/javascript" src="/assets/js/font-detect.js"></script> -->
  <!-- <script type="text/javascript" src="/assets/js/popper.min.js"></script> -->
  <script type="text/javascript" src="/assets/js/owl.carousel.min.js"></script>
  <!-- <script type="text/javascript" src="/assets/js/jquery.counterup.min.js"></script> -->
  <!-- <script type="text/javascript" src="/assets/js/waypoints.min.js"></script> -->
  <!-- <script type="text/javascript" src="/assets/js/jquery.colorbox.js"></script> -->
  <!-- <script type="text/javascript" src="/assets/js/smoothscroll.js"></script> -->
  <!-- <script type="text/javascript" src="/assets/js/gmap3.js"></script> -->
  <!-- <script type="text/javascript" src="/assets/js/lightbox.js"></script> -->
  <script type="text/javascript" src="/assets/js/custom.js"></script>

</head>