<div class="container medium_layout_posts">
  <div class="row">
    
    <div class="col-md-8 col-sm-12">
      {% assign posts = (site.medium_posts | sort:"date") | reverse %}
      {% for post in posts %}
      <div class="post">
        <div class="row card-150h">
          <div class="col-lg-2 col-md-3 col-sm-2 col-3">
            <img src="{{ post.cover }}" class="card-img img-fluid" alt="{{ post.title }}">
          </div>
          <div class="col-lg-10 col-md-9 col-sm-12 col-9">
            <div class="card-100h card-body post-short">
                <a href="{{ post.link }}">
                  <h5 class="mm">{{ post.title }}</h5>
                </a>
                <p class="mm">{{ post.short }}</p>
            </div>
            <div class="card-100h card-body post-date">
                Published At: {{ post.date | date: "%a, %b %d, %Y" }}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="col-4 d-none d-sm-block">
    </div>
    
  </div>
</div>