
h4, h5{
  margin-top: 8px;
  font-weight: bolder;
  line-height: 1.25em;
}
a{
  color: #333;
}
a:hover{
  color: #666;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px;
}
.card-img{
  height: 90px;
  display: table-cell;
  width: 100vw;
  /* border: 3px dashed #1c87c9; */
  vertical-align: middle;
  /* padding: 10px; */
}
.card-body{
  overflow: hidden;
  /* height: 200px; */
  padding: 0px 10px;
}
.row{
  margin: 0px;
}


/* bg-overlay */
.bg-overlay {
  position: relative;
}
.bg-overlay:after {
  /* background-color: rgba(0, 0, 0, 0.0); */
  z-index: 0;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.bg-overlay::after {
  background-color: rgba(20, 20, 20, 0.75);

}
.bg-overlay .container {
  position: relative;
  z-index: 1;
}


/* bootstrap build-in modified */

/* typography */
.white-text{
  color: #eee;
}


.center-text-vertical {
  display: table-cell;
  width: 100vw;
  height: calc(100vh - 500px);
  /* border: 3px dashed #1c87c9; */
  vertical-align: middle;
  padding: 10px;
}

.center-text-horizontal {
  text-align: center;
}




.mm{
  font-family:Pyidaungsu;
}

.post{
  margin-bottom: 10px;
  /* padding: 0px 10px; */
}
.post-short p{
  color: #666;
}
.post-date{
  margin-top: 5px;
}
.card-100h{
  height: 100px;
  overflow: hidden;
  /* padding-top: 10px; */
}
.card-120h{
  height: 120px;
  overflow: hidden;
  /* padding-top: 10px; */
}
.card-150h{
  height: 150px;
  overflow: hidden;
  /* padding-top: 10px; */
}
.height-100{
  height: 100px;
}



/* Medium Layout Banner
================================================== */
.medium_layout_banner{
  margin-top: 10px;
}
.big-post{
  height: 320px;
  padding-right: 15px;
  /* border: 1px solid blue; */
}
.small-posts{
  height: 320px;
  padding-right: 15px;
  /* border: 1px solid green; */
}
.small-posts .post{
  height: 100px;
  /* border: 1px solid purple; */
}
.banner-img{
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}



/* Medium Layout Post
================================================== */
.medium_layout_posts {
  
}



/* (Quote area) Medium layout contact
================================================== */
.quote-area {
  background-image: url("../images/background-2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 80px 0 60px;
}

.quote_form {
  background: #1f1f1f;
  color: #fff;
  padding: 80px 50px 100px;
  margin-top: -50px;
  margin-bottom: -50px;
}



/* Footer
=================== */
.footer{
  height: 50px;
}
.copyright{
  padding: 10px;
}